.active-scaffold-header div.actions a.show_export {
  background-image: url('active_scaffold/export.png');
  background-position: 1px 50%;
  background-repeat: no-repeat;
  padding-left: 19px;
}
.active-scaffold .show_export-view .option-row {
  display: flex;
  gap: 1em;
}
.active-scaffold .show_export-view label [name=delimiter] {
  font-family: monospace;
}

.as_touch .active-scaffold-header div.actions a.show_export {
  padding: 7px 5px 7px 25px;
}

.as_touch .active-scaffold .active-scaffold-header div.actions > a.show_export {
  padding: 7px 5px 7px 25px;
  background-position: 5px 50%;
}
